ProyectoEngine/\.vs/

ProyectoEngine/Debug/

ProyectoEngine/Engine/Debug/

ProyectoEngine/EngineDLL/Debug/

ProyectoEngine/Engine/TileSet\.tsx

ProyectoEngine/Engine/Levelsito\.tmx

ProyectoEngine/Engine/x64/

ProyectoEngine/x64/

ProyectoEngine/EngineDLL/x64/
